#menu{
  font: bold 1.1em Verdana;
  width: 10em;
  margin: 0;
  padding: 3%;
  list-style: none;
}

#menu li a{
  border-left: 1em solid #069;
  padding: 0em 0em 0em 0.25em;
  text-decoration: none;
  background: #09c;
  display: block;
  color: #fff;
  border-top: 1px solid #09c;
  margin-bottom: 1px;
}

#menu li a:hover{
  color: #2eacd5;
  background: #fff;
  border-left: 1em solid #a2c7da;
  border-top: 1px solid #0ff;
}
